@media screen and (max-width: 1080px) {

    .header {
        align-items: center;
    }

    .btn-resp {
		display: block !important;
	}

	.nav::-webkit-scrollbar-track {
		background-color: #1f232c;
	}

	.nav::-webkit-scrollbar {
		background-color: rgba(0,0,0,0.5);
		width: 7px;
	}

	.nav::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background-color: rgba(0,0,0,0.5);
	}
	.nav {
		background-color: var(--white);
		align-items: flex-start;
		height: -webkit-calc(100% - 156px);
		height: -moz-calc(100% - 156px);
		height: calc(100% - 156px);
		overflow-y: auto;
		position: fixed;
		right: -400px;
		top: 156px;
		width: 400px;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	    .header.sticky .nav {
    		height: -webkit-calc(100% - 81px);
    		height: -moz-calc(100% - 81px);
    		height: calc(100% - 81px);
    		top: 81px;
	    }
		.nav.active {
			right: 0px;
		}
			.nav .hmenu {
				flex-direction: column !important;
				justify-content: flex-start !important;
				width: 100%;
			}
				.nav .hmenu li a i {
					display: block;
					position: absolute;
					right: 15px;
					top: 14px;
				}
					.nav .hmenu li li a i {
						top: 12px;
						-webkit-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
					}
				.nav .hmenu > li > a,
				.nav .hmenu > li > a:not([href]):not([tabindex]) {
					color: var(--gray);
                    height: 50px !important;
                    line-height: 50px !important;
                    width: 100%;
				}

				.nav .hmenu li ul, .nav .hmenu li ul ul {
					display: none;
					left: 0px !important;
					margin-top: 0px !important;
					opacity: 1;
					position: relative !important;
					top: 0px !important;
					visibility: visible;
					max-width: 100%;
					min-width: 0%;
					-webkit-transition: none !important;
					-o-transition: none !important;
					transition: none !important;
				}
					.nav .hmenu li ul {
						background-color: #171d28;
					}
						.nav .hmenu li ul > li:hover > a,
						.nav .hmenu li ul > li:active > a {
							color: #fff;
						}
							.nav .hmenu li li li a {
								padding-left: 30px;
							}

	.ir-buttons .item {
		width: -webkit-calc(50% - 20px) !important;
		width: -moz-calc(50% - 20px) !important;
		width: -ms-calc(50% - 20px) !important;
		width: calc(50% - 20px) !important;
	}

}

@media screen and (max-width: 768px) {

	.nav ul.hmenu li a span{
    margin: 0 !important;}

	.top-bar {
        font-size: var(--xsm-text);
		justify-content: center !important;
		padding: 0px !important;
	}
		.top-bar .item.social {
			display: none;
		}
		.top-bar .subitem.number a {
			font-weight: 700;
			font-size: 12px;
			padding: 0px 5px;
		}

	.header .logo img {
	    height: 60px;
	}

	.nav {
	    left: 100%;
	    height: -webkit-calc(100% - 131px);
		height: -moz-calc(100% - 131px);
		height: calc(100% - 131px);
		top: 124px;
		width: 80%;
	}
	    .nav.active {
	        left: 20%;
	    }

	#mega-menu-wrap-main-menu {
		width: 100%;
	}

	.marcas-productos .wpb_column.vc_col-sm-2 {
		width: 20%;
		float: none !important;
	}

    .services-header {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .seo-block-home .text-bolder,
    .vc_custom_1558492137790 .text-bold {
        font-size: 35px !important;
    }

    img {
        max-width: 100%;
    }
	
	.top-bar .item a {
		line-height: normal;
		padding: 10px 15px;
	}
	
	ul#menu-menu-superior-derecho {
		display: none;
	}
	
	.content-main .content-page {
		width: 100% !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-bottom: 20px;
	}
	
	.content-main .sidebar-widgets-area {
		padding: 0px 15px;
		width: 100%;
	}
	
	.autos-loop .item .image, .auto-single-item .image {
		margin-bottom: 10px;
		width: 100%;
	}
	
	.autos-loop .item .info, .auto-single-item .info {
		width: 100%;
		padding: 0px;
	}

	.autos-loop .item .title, .auto-single-item .title, .autos-loop .item .title a, .auto-single-item .title a {
		flex-flow: row wrap;
	}
	
	.autos-loop .item .characts {
		flex-flow: row wrap;
		justify-content: center;
	}
	
	.autos-loop .item .characts .button-item, .auto-single-item .characts .button-item {
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px) {

    :root {
        --xlg-text: 35px;
    }

    .top-bar {
        font-size: 12px;
    }

    .nav {
        top: 117px;
    }

	.nav ul.hmenu li a span {
        margin: 0 !important;
    }

	.ir-buttons .item {
		margin: 20px 0px !important;
		width: -webkit-calc(100%) !important;
		width: -moz-calc(100%) !important;
		width: -ms-calc(100%) !important;
		width: calc(100%) !important;
	}

	.marcas-productos .vc_row {
		justify-content: center;
		margin: 0px !important;
	}
		.marcas-productos .wpb_column.vc_col-sm-2 {
			margin-bottom: 20px !important;
			margin-top: 20px !important;
			width: 33.33%;
		}

    .services-header h1 {
        font-size: 35px;
    }
    .services-header p {
        font-size: 20px;
    }

    .main .content-page .vc_row-fluid.vc_custom_1558582438801 {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
	
	.autos-loop .item .title, .auto-single-item .title, .autos-loop .item .title a, .auto-single-item .title a {
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
    .nav {
        top: 136px;
    }
}
